<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jxd.dao.IAppraiseDao">
<select id="getAllAppraise_Manage" resultType="Appraise">
    select appraiseId,appraise from appraise where appraiseid not in(9,10)
</select>

    <!--List<Appraise> getAllAppraise_admin(@Param("appraise") String appraise);-->
    <select id="getAllAppraise_admin" resultType="Appraise">
        select appraiseId, appraise from appraise
        where appraiseId not in (9,10)
        <if test="appraise != null and appraise != ''">
            and appraise like '%' #{appraise} '%'
        </if>
        order by appraiseId desc
    </select>

    <!--List<Appraise> getAppraise_admin(@Param("pageSize") Integer pageSize, @Param("pageIndex") Integer pageIndex, @Param("appraise") String appraise);-->
    <select id="getAppraise_admin" resultType="Appraise">
        select appraiseId, appraise from appraise
        where appraiseId not in (9,10)
        <if test="appraise != null and appraise != ''">
            and appraise like '%' #{appraise} '%'
        </if>
        order by appraiseId desc
        limit ${pageSize * (pageIndex - 1)}, ${pageSize}
    </select>

    <!--boolean addAppraise_admin(Appraise appraise);-->
    <insert id="addAppraise_admin">
        insert into appraise(appraiseId,appraise) values (#{appraiseId},#{appraise})
    </insert>

    <!--boolean delAppraise_admin(Integer appraiseId);-->
    <delete id="delAppraise_admin">
        delete from appraise where appraiseId=#{appraiseId}
    </delete>

    <!--Appraise getAppraiseById_admin(Integer appraiseId);-->
    <select id="getAppraiseById_admin" resultType="Appraise">
        select appraiseId, appraise from appraise where appraiseId=#{appraiseId}
    </select>

    <!--boolean editAppraiseById_admin(Appraise appraise);-->
    <update id="editAppraiseById_admin">
        update appraise set appraise=#{appraise} where appraiseId=#{appraiseId}
    </update>

    <!--List<Appraise> checkRepAppraise_admin(String appraise);-->
    <select id="checkRepAppraise_admin" resultType="Appraise">
        select appraiseId, appraise from appraise where appraise=#{appraise}
    </select>
</mapper>