<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jxd.dao.IClassDao">

    <!--List<Class> getAllSClassBytId_Teacher(Integer tId);-->
    <select id="getAllSClassBytId_Teacher" resultType="Class">
        select classId,className,startDate,endDate,tid
        from class
        where tid=#{tid} order by classId desc
    </select>

    <!--List<Class> getAllClass_admin();-->
    <select id="getAllClass_admin" resultType="Class">
        select classId,className,startDate,endDate,tId
        from class
    </select>
</mapper>