<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jxd.dao.ISubjectDao">

    <!--List<Subject> getSubjectByClassId_Teacher(Integer classId);-->
    <select id="getSubjectByClassId_Teacher" resultType="subject">
        select s.subjectid,s.subject
        from subject s left join dissubject d on
        s.subjectid = d.subjectid
        where d.classid = #{classId}
    </select>

    <!--List<Subject> getAllSubject_admin(String subject);-->
    <select id="getAllSubject_admin" resultType="Subject">
        select subjectId, subject from subject
        <if test="subject != null and subject != ''">
            where subject like '%' #{subject} '%'
        </if>
        order by subjectId desc
    </select>

    <!--List<Subject> getSubject_admin(Integer pageSize, Integer pageIndex, String subject);-->
    <select id="getSubject_admin" resultType="Subject">
        select subjectId, subject from subject
        <if test="subject != null and subject != ''">
            where subject like '%' #{subject} '%'
        </if>
        order by subjectId desc
        limit ${pageSize * (pageIndex - 1)}, ${pageSize}
    </select>

    <!--boolean addSubject_admin(Subject subject);-->
    <insert id="addSubject_admin">
        insert into subject (subjectId, subject) values (#{subjectId}, #{subject})
    </insert>

    <!--boolean delSubject_admin(Integer subjectId);-->
    <delete id="delSubject_admin">
        delete from subject where subjectId=#{subjectId}
    </delete>

    <!--Subject getSubjectById_admin(Integer subjectId);-->
    <select id="getSubjectById_admin" resultType="Subject">
        select subjectId, subject
        from subject
        where subjectId=#{subjectId}
    </select>

    <!--boolean editSubjectById_admin(Subject subject);-->
    <update id="editSubjectById_admin">
        update subject set subject=#{subject}
        where subjectId=#{subjectId}
    </update>
</mapper>