<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jxd.dao.ITeacherDao">
    <sql id="BaseSql1">
        tId,tName,tSex,tPhone,tBirthday,deptNo
    </sql>

    <!--List<Teacher> getAllTeacher_admin(String tName);-->
    <select id="getAllTeacher_admin" resultType="Teacher">
        select
        <include refid="BaseSql1"></include>
        from teacher
        <if test="tName != null and tName != ''">
            where tName like '%' #{tName} '%'
        </if>
        order by tId desc
    </select>

    <!--List<Teacher> getTeacher_admin(@Param("pageSize") Integer pageSize, @Param("pageIndex") Integer pageIndex, @Param("tName") String tName);-->
    <select id="getTeacher_admin" resultType="Teacher">
        select
        <include refid="BaseSql1"></include>
        from teacher
        <if test="tName != null and tName != ''">
            where tName like '%' #{tName} '%'
        </if>
        order by tId desc
        limit ${pageSize * (pageIndex - 1)}, ${pageSize}
    </select>

    <!--boolean addTeacher_admin(Teacher teacher);-->
    <insert id="addTeacher_admin">
        insert into teacher(tName,tSex,tBirthday,tPhone,deptNo)
        values (#{tName},#{tSex},#{tBirthday},#{tPhone},#{deptNo})
    </insert>

    <!-- boolean delTeacherById_admin(Integer tId);-->
    <delete id="delTeacherById_admin">
        delete from teacher where tId=#{tId}
    </delete>

    <!--Teacher getTeacherById_admin(Integer tId);-->
    <select id="getTeacherById_admin" resultType="Teacher">
        select
        <include refid="BaseSql1"></include>
        from teacher
        where tId=#{tId}
    </select>

    <!--boolean editTeacherById_admin(Teacher teacher);-->
    <update id="editTeacherById_admin">
        update teacher set tName=#{tName},tSex=#{tSex},tPhone=#{tPhone},tBirthday=#{tBirthday}
        where tId=#{tId}
    </update>

    <!--Integer getCurTeacherId_admin();-->
    <select id="getCurTeacherId_admin" resultType="Integer">
        select max(tId) from teacher
    </select>
</mapper>